.rpcc-player {
  --PI: 3.14159265358979;
  --rpcc-ring-radius: calc((var(--rpcc-size) / 2) - (var(--rpcc-progress-size) / 2));
  --rpcc-ring-circum: calc(var(--PI) * var(--rpcc-ring-radius) * 2);
  --rpcc-play-button-size: calc(var(--rpcc-size) - (var(--rpcc-progress-size) * 2));
}

.rpcc-player-inner {
  display: flex;
  height: var(--rpcc-size);
  width: var(--rpcc-size);
  position: relative;
  justify-content: center;
  align-items: center;
}

.rpcc-ring-container {
  position: absolute;
  top: 0;
  right: 0;
  height: var(--rpcc-size);
  width: var(--rpcc-size);
  transform: rotate(-90deg);
}

.rpcc-ring {
  cx: calc(var(--rpcc-size) / 2);
  cy: calc(var(--rpcc-size) / 2);
  fill: none;
  stroke-width: var(--rpcc-progress-size);
  r: var(--rpcc-ring-radius);
  stroke-dasharray: var(--rpcc-ring-circum);
  shape-rendering: optimizeQuality;
  stroke-dashoffset: 0;
}

.rpcc-ring__duration {
  stroke: var(--rpcc-ring-duration-color, var(--rpcc-color));
  opacity: 0.1;
}

.rpcc-ring__loaded {
  stroke: var(--rpcc-ring--color, var(--rpcc-color));
  opacity: 0.2;
  stroke-dashoffset: calc(var(--rpcc-ring-circum) * (1 - var(--rpcc-progress-loaded)));
}

.rpcc-ring__played {
  stroke: var(--rpcc-ring-played-color, var(--rpcc-color));
  opacity: 0.5;
  stroke-dashoffset: calc(var(--rpcc-ring-circum) * (1 - var(--rpcc-progress-played)));
}

.rpcc-play-button {
  display: block;
  margin: 0;
  padding: 0;
  height: var(--rpcc-play-button-size);
  width: var(--rpcc-play-button-size);
  position: relative;
  border: none;
  border-radius: 50%;
  background: var(--rpcc-button-color, var(--rpcc-color));
  cursor: pointer;
}

.rpcc-play-button:active {
  opacity: 0.9;
}

.rpcc-play-icon {
    display: inline-block;
    box-sizing: border-box;
    width: 0;
    height: calc(var(--rpcc-play-button-size) * 0.25);
    margin-left: calc(var(--rpcc-play-button-size) * 0.04166666667);
    border-color: transparent transparent transparent var(--rpcc-play-icon-color, #202020);
    transition: 100ms all ease;
    border-style: solid;
    border-width: calc(var(--rpcc-play-button-size) * 0.125) 0 calc(var(--rpcc-play-button-size) * 0.125) calc(var(--rpcc-play-button-size) * 0.25);
}

.rpcc-play-icon.pause {
    margin-left: 0;
    border-style: double;
    border-width: 0px 0 0px calc(var(--rpcc-play-button-size) * 0.25);
}
